@import url('https://fonts.googleapis.com/css2?family=Asul&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');

html, body {
  height: 100vh;
  width: 100vw;
  //background-color: $primary-background-color;
}

html {
  background-color: #D0D0CE;
}

main {
  width: 100%;
}