$primary-background-color: #404640;
$primary-background-color-gradient: #2d302d;

$secondary-background-color: #002F6C;
$secondary-background-color-gradient: #002855;

$section-background-color: #293844;
$section-background-color-gradient: #111;

$primary-border-color: #002554;
$primary-border-color-gradient: #0C2340;

$text-shadow-color: #101820;

$title-font-color: #DBE2E9;
$title-font-family: 'Viga', sans-serif;

$paragraph-font-color: #DBE2E9;
$paragraph-font-family: 'Asul', sans-serif;;